<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
body {
    background-image: url("https://i.imgur.com/TZ0jFEW.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
center {
    width: 540px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-position: center;
    background-color: white;
    border: 5px solid green;
    height: auto;
}
</style>

<head>
<title> Main Expo Portal </title>
</head>


<body>

<center><h1>Heartland Gaming Expo Portal</h1>
<br><br>

<font size="4">
<p><u><strong> Utilization steps:</strong></u></p>
<p><b>1.</b> Please click portal below based off assigned role </p>
<p><b>2.</b> Login using your assigned creditials </p>
<p><b>3.</b> Follow instructions per user role template </p>
<br><br>


<p><u><strong>Please select User portal from below:</strong></u></p><br>

<!-- <a href="/admin" style="color: #cc0000"> Admin portal</a> -->
<form action="/admin">
    <input type="submit" value="Admin Portal" />
</form>
<br><br>


<!-- <a href="" style="color: #cc0000"> Judging portal</a> -->
<form action="/judge">
    <input type="submit" value="Judging Portal" />
</form><br><br>

<!-- <a href="" style="color: #cc0000"> Registrar portal</a> -->
<form action="/registrar">
    <input type="submit" value="Registrar Portal" />
    <br><br><br><br><br>

</font>
</form>
</body>
</center>
</html>
